{% extends 'dashboard/layout.html' %}
{% load static %}
{% block content %}
<div style="margin-left: 280px; margin-top: 100px">
	<h2> <strong>Paso 3/3:</strong> Verificar tranferencia </h2>
	<div style="margin-left: 280px; margin-top: 80px; margin-right: 500px">
		<h5> Luego de culminar la transferencia necesitamos <strong> comprobarlo con el Banco </strong> para poder <strong>transferirte</strong> el dinero a tu cuenta</h5>
		<br>
		<h5> Envía el codigo de operación de la transacción bancaria aquí </h5>

		<input type="text" name="fname"><br>
		<br>
		<br>
		<div class="row">
			<div class = "col-9">
				<a class="btn btn-outline-dark" href="{% url 'dashboard:home' %}" role="button"><i class="fas fa-long-arrow-alt-left"></i>  Volver</a>
			</div>
			<div class = "col-3">
				<a class="btn btn-dark" href="{% url 'dashboard:transaction' %}" role="button">Enviar Verificación</a>
			</div>
		</div>
	</div>

</div>
{% endblock %}
