{% extends 'dashboard/layout.html' %}
{% load static %}
{% block content %}

Seleccione una moneda
{% for coin in coins %}
  <a href=".?coin={{coin.name}}"> {{ coin.name }} </a>
{% endfor %}
<p>
{% if coin_selected %}
¿En qué cuenta deseas recibir tu dinero?
<select class="form-control">
  {% for bc in bank_accounts %}
    <option>{{bc.name}} - {{bc.number}}</option>
  {% endfor %}
</select>
</p>


<div>
<div class="input-group">
<div class="input-group-prepend">
    <span class="input-group-text"> Tu envias </span> 
  </div>

  <input type="text" class="form-control" id="coinFromValue" aria-label="Dollar amount (with dot and two decimal places)">
  <div class="input-group-append">
    <span class="input-group-text" id="coin-from-text">Soles</span>
  </div>
</div>

<div class="text-center">
  <button onclick="changeCoin()" class="btn btn-primary">Change</button>
</div>

<div class="input-group">
<div class="input-group-prepend">
    <span class="input-group-text"> Tu recibes </span>
  </div>

  <input type="text" readonly class="form-control" id="coinToValue" aria-label="Dollar amount (with dot and two decimal places)">
  <div class="input-group-append">
    <span class="input-group-text" id="coin-to-text" readonly>{{coin_selected.name}}</span>
  </div>
</div>

</div>

<button onclick="enviar()">ENVIAR</button>
{% endif %}
{% endblock %}
{% block scripts %}
<script type="text/javascript">
  let coinFrom = 'Soles'
  let coinTo = '{{coin_selected.name}}'
  let coinFromId = 1
  let coinToId = 2
  let exchange_rate_sale = parseFloat('{{coin_selected.exchange_rate_sale}}')
  let exchange_rate_purchase = parseFloat('{{coin_selected.exchange_rate_purchase}}')
  let type = 'sell'

  function changeCoin(){
    const tmpFrom = coinFrom 
    const tmpFromId = coinFromId 
    coinFrom = coinTo
    coinFromId = coinToId

    coinTo = tmpFrom
    coinToId = tmpFromId
    if(type=='sell'){
      type = 'buy'
    } else {
      type = 'sell'
    }

    updateCurrencies()
    calculate()
  }

  function updateCurrencies() {
    $('#coin-from-text').text(coinFrom)
    $('#coin-to-text').text(coinTo)
  }

  function enviar(){

  }

  $('#coinFromValue').change(function(){
    calculate()
   
  })

  function calculate(){

   const val = parseFloat($('#coinFromValue').val())
      if(type=='sell'){
        $('#coinToValue').val(val* exchange_rate_sale)  
      } else {
        $('#coinToValue').val(val / exchange_rate_purchase)  

      }
  }

</script>
{% endblock %}