{% extends 'dashboard/layout.html' %}
{% load static %}
{% block content %}

<div class="float-right my-4 ">
    <a href="{% url 'dashboard:bank_account_add' %}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Agregar</a>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Banco</th>
            <th>Numero de Cuenta </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.bank.name }}</td>
            <td>{{ item.number }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        $(".delete_btn").click(function(){
            var resp = confirm("¿Seguro que desea eliminar este dato?");
            if(!resp){
                return false
            }
        })
        
    </script>
{% endblock%}